@model IEnumerable<WebApplication1.Models.Favorites>

@{
    ViewData["Title"] = "Your Favorites";
}

<h1>Favorites</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vacation.Destination.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation.Destination.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation.Destination.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation.Destination.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation.endDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation.price)
                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.FavoritesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FavoritesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
